

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    width: auto;
    height: 20vh;
}

.header {
    background-color: #000;
    position: relative;
    color: #fff;
    height: 16vh;
    z-index: 2;
}

.Logo {
    width: 8vh;
    height: 8vh;
    margin-top: 3.82vh;
    margin-left: 25vh;
    display: inline-block;
}

.Collection {
    position: relative;
    display: inline-block;
    font-family: 'MTSExtended-Medium';
    font-size: 6vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 8.9vh;
    bottom: 2.1vh;
}

.Lines {
    display: inline-block;
    position: absolute;
    width: 0.6vh;
    flex-shrink: 0;
    stroke: #FFF;
    margin-left: 90vh;
    padding:0.1vh 3vh;
    padding-top: 2.6vh;
}

#line1 {
    margin-bottom: -3.3vh;
}

#line2 {
    margin-bottom: -1.625vh;
}

.main {
    height: 71vh;
    width: auto;
    background-color: #FFF;
}


.main-block {
    position: relative;
    display: inline-block;
    width: 77.4vh;
    height: 66.1vh;
    flex-shrink: 0;

    border-radius: 4.5vh;
    background: #FFF;
    box-shadow: 0.4vh 0.4vh 2.5vh 0.8vh rgba(0, 0, 0, 0.25);
    margin-left: 25vh;
    top: 2.2vh;
    z-index: 2;
}

.like {
    position: relative;
    color: #000;
    font-family: 'MTSWide-Medium';
    font-size: 2.4vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.144vh;
    margin-left: 10vh;
    top: 6.1vh;
}

.equaliser1 {
    position: absolute;
    margin-left: 100vh;
    top:-0.05vh;
    width: 64.3vh;
    height: 26.1414vh;
    flex-shrink: 0;
}

.liked-list {
    display: inline-block;
    position: relative;
    margin-left: 10vh;
    top:11.5vh;
    width: 55.3vh; /* Ширина вашего списка */
    height: 45vh; /* Высота вашего списка */
    overflow-y: auto; /* Включить вертикальную прокрутку при необходимости */
}

.string-list {
    margin-bottom: -2vh;
}

.image  {
    width: 4.5vh;
    height: 4.5vh;
    display: inline-block;
}

.song_author {
    display:inline-block;
}

.song-name {
    position:relative;
    color: #000;
    font-family: "MTSText-Regular";
    font-size: 1.8vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-left: 2vh;
    top: -0.1vh;
}

.author {
    margin-left: 2vh;
    color: #747474;
    font-family: "MTSText-Regular";
    font-size: 1.4vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.084vh;
}

.container {
    display: flex;
    justify-content: flex-end;
  }



.album {
    width: 100px;
    position: relative;
    color: #747474;
    font-family: "MTSText-Regular";
    font-size: 1.4vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.084vh;
    direction: rtl; 
    top:-3vh;
    overflow-x: hidden;
    margin-right: 3.9vh;
    text-align: right;
}



.heart {
    position: relative;
    width: 2.2vh;
    height: 2.2vh;
    margin-right: 1.2vh;
    top:-3.7vh;
}

#pr_heart1 {
    margin-left: 0.25vh;
}

#pr_heart2 {
    margin-left: 0.5vh;
}

.time {
    position: relative;
    color: #747474;
    text-align: center;
    font-family: "MTSText-Regular";
    font-size: 1.4vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.084vh;
    top:-3vh;
    padding-left: 2.6vh;
}

.main-text {
    position: relative;
    display: inline-block;
    margin-left: 108vh;
    top: -34.5vh;
}

.music {
    height: 9.8vh;
    flex-shrink: 0;

    color: #000;
    font-family: "MTSWide-Black";
    font-size: 9.5vh;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.55vh;
    margin-left: -0.4vh;
}

.streaming-service {
    color: var(--RED, #FF0032);
    font-family: "MTSWide-Black";
    font-size: 3.4vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.204vh;
}

.equaliser2 {
    position: absolute;
    width: 64.3vh;
    height: 27.1414vh;
    top:70vh;
    margin-left: 101vh;
    z-index: 1;
}
















.footer {
    position: fixed;
    height: 13vh;
    width: 200vh;
    background-color: #000;
    z-index: 2;
}

.logo-mini {
    width: 8vh;
    height: 8vh;
    flex-shrink: 0;
    margin-top: 2.8vh;
    margin-left: 25vh;
    display: inline-block;
}

.logo-miniblock {
    display:inline-block;
}

.X1 {
    position: relative;
    display: inline-block;
    color: #FFF;
    text-align: center;

    font-style: normal;
    line-height: 170%;
    font-size: 4vh;
    z-index: 2;
}

#part1 {
    font-family: 'MTSWide-Bold';
    font-weight: 700;
}

#part2 {
    font-family: 'MTSWide-Regular';
    font-weight: 400;
    margin-left: 0.55svh;
}

.footer-text {
    position: relative;
    display: inline-block;
    margin-left: 84vh;
    top: -3vh;
    z-index: 2;
}

