@font-face {
    font-family: 'MTSWide-Black';
    src: url('Wide/MTSWide-Black/MTSWide-Black.ttf') format('truetype'),
        url('Wide/MTSWide-Black/MTSWide-Black.woff2') format('woff2'),
        url('Wide/MTSWide-Black/MTSWide-Black.woff') format('woff') 
} 
@font-face {
    font-family: 'MTSWide-Bold';
    src: url('Wide/MTSWide-Bold/MTSWide-Bold.ttf') format('truetype'),
        url('Wide/MTSWide-Bold/MTSWide-Bold.woff2') format('woff2'),
        url('Wide/MTSWide-Bold/MTSWide-Bold.woff') format('woff') 
} 
@font-face {
    font-family: 'MTSWide-Light';
    src: url('Wide/MTSWide-Light/MTSWide-Light.ttf') format('truetype'),
        url('Wide/MTSWide-Light/MTSWide-Light.woff2') format('woff2'),
        url('Wide/MTSWide-Light/MTSWide-Light.woff') format('woff') 
} 
@font-face {
    font-family: 'MTSWide-Medium';
    src: url('Wide/MTSWide-Medium//MTSWide-Medium.ttf') format('truetype'),
        url('Wide/MTSWide-Medium//MTSWide-Medium.woff2') format('woff2'),
        url('Wide/MTSWide-Medium//MTSWide-Medium.woff') format('woff');
} 
@font-face {
    font-family: 'MTSWide-Regular';
    src: url('Wide/MTSWide-Regular/MTSWide-Regular.ttf') format('truetype'),
        url('Wide/MTSWide-Regular/MTSWide-Regular.woff2') format('woff2'),
        url('Wide/MTSWide-Regular/MTSWide-Regular.woff') format('woff') 
} 






@font-face {
    font-family: 'MTSUltraExtended-Black';
    src: url('UltraExtended/MTSUltraExtended-Black/MTSUltraExtended-Black.ttf') format('truetype'),
        url('UltraExtended/MTSUltraExtended-Black/MTSUltraExtended-Black.woff2') format('woff2'),
        url('UltraExtended/MTSUltraExtended-Black/MTSUltraExtended-Black.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'MTSUltraExtended-Bold';
    src: url('UltraExtended/MTSUltraExtended-Bold/MTSUltraExtended-Bold.ttf') format('truetype'),
        url('UltraExtended/MTSUltraExtended-Bold/MTSUltraExtended-Bold.woff2') format('woff2'),
        url('UltraExtended/MTSUltraExtended-Bold/MTSUltraExtended-Bold.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'MTSUltraExtended-Light';
    src: url('UltraExtended/MTSUltraExtended-Light/MTSUltraExtended-Light.ttf') format('truetype'),
        url('UltraExtended/MTSUltraExtended-Light/MTSUltraExtended-Light.woff2') format('woff2'),
        url('UltraExtended/MTSUltraExtended-Light/MTSUltraExtended-Light.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'MTSUltraExtended-Regular';
    src: url('UltraExtended/MTSUltraExtended-Regular/MTSUltraExtended-Regular.ttf') format('truetype'),
        url('UltraExtended/MTSUltraExtended-Regular/MTSUltraExtended-Regular.woff2') format('woff2'),
        url('UltraExtended/MTSUltraExtended-Regular/MTSUltraExtended-Regular.woff') format('woff');
    font-weight: normal;
}


@font-face {
    font-family: 'MTSText-Black';
    src: url('Text/MTSText-Black/MTSText-Black.ttf') format('truetype'),
        url('Text/MTSText-Black/MTSText-Black.woff2') format('woff2'),
        url('Text/MTSText-Black/MTSText-Black.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'MTSText-Bold';
    src: url('Text/MTSText-Bold/MTSText-Bold.ttf') format('truetype'),
        url('Text/MTSText-Bold/MTSText-Bold.woff2') format('woff2'),
        url('Text/MTSText-Bold/MTSText-Bold.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'MTSText-Medium';
    src: url('Text/MTSText-Medium/MTSText-Medium.ttf') format('truetype'),
        url('Text/MTSText-Medium/MTSText-Medium.woff2') format('woff2'),
        url('Text/MTSText-Medium/MTSText-Medium.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'MTSText-Regular';
    src: url('Text/MTSText-Regular/MTSText-Regular.ttf') format('truetype'),
        url('Text/MTSText-Regular/MTSText-Regular.woff2') format('woff2'),
        url('Text/MTSText-Regular/MTSText-Regular.woff') format('woff');
    font-weight: normal;
}




@font-face {
    font-family: 'MTSExtended-Black';
    src: url('Extended/MTSExtended-Black/MTSExtended-Black.ttf') format('truetype'),
        url('Extended/MTSExtended-Black/MTSExtended-Black.woff2') format('woff2'),
        url('Extended/MTSExtended-Black/MTSExtended-Black.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'MTSExtended-Bold';
    src: url('Extended/MTSExtended-Bold/MTSExtended-Bold.ttf') format('truetype'),
        url('Extended/MTSExtended-Bold/MTSExtended-Bold.woff2') format('woff2'),
        url('Extended/MTSExtended-Bold/MTSExtended-Bold.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'MTSExtended-Medium';
    src: url('Extended/MTSExtended-Medium/MTSExtended-Medium.ttf') format('truetype'),
        url('Extended/MTSExtended-Medium/MTSExtended-Medium.woff2') format('woff2'),
        url('Extended/MTSExtended-Medium/MTSExtended-Medium.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'MTSExtended-Regular';
    src: url('Extended/MTSExtended-Regular/MTSExtended-Regular.ttf') format('truetype'),
        url('Extended/MTSExtended-Regular/MTSExtended-Regular.woff2') format('woff2'),
        url('Extended/MTSExtended-Regular/MTSExtended-Regular.woff') format('woff');
    font-weight: normal;
}
