{% load widget_tweaks %}

<div class="form-container">
	{% if request.user.is_authenticated %}
		<p class="fs-5">{{ user.username }}</p>
		<a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
    {% else %}
		<a class="nav-link text-light text-decoration-underline fs-4" href="{% url 'login' %} ">
			Вход
		</a>
    {% endif %}
	<div class="form-title">
		<label class="fs-3">{{ title }}</label>
	</div>
	<form method="POST" action="" enctype="multipart/form-data">
		<div class="form-group"> 
			{% csrf_token %}

			{% for field in form %}
			<div class="row">
			<label for="{{ field.id_for_label }}" style="text-align: left;">{{ field.label }}</label>
				<div class="row">{% render_field field class='form-control' %}</div>
				<div class="row">{{ field.help_text }}</div>
				<div class="row">{{ field.errors }}</div>
			</div>
			{% endfor %}

			<div>{{ form.non_field_errors }}</div>

			<div class="row">
				<div class="row">
				<input type="submit" class="btn btn-primary" value="{{ button_text }}">
			</div>
			</div>

			{% if "login" in request.path %}
				<div class="signup-link">Нет аккаунта? <a href="{% url 'signup' %}">Создайте!</a></div>
			{% endif %}
			{% if "signup" in request.path %}
				<div class="signup-link">Есть аккаунт? <a href="{% url 'login' %}">Войти?</a></div>
			{% endif %}

		</div>
	</form>
</div>