<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">Комната</label>
                        <br>
                        <h5>{{ music.name }}</h5>
                        <br>
                        <audio id="myAudio" controls autoplay muted>
                            <source src="{{ music.music_file.url }}">
                            Your browser does not support the audio element.
                          </audio> 
                        <textarea class="form-control" id="chat-text" rows="10"></textarea><br>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="input" type="text"></br>
                    </div>
                    <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
                    <input class="btn btn-secondary btn-lg btn-block" id="delete-room" type="button" value="Delete Room">
                    <input class="btn btn-secondary btn-lg btn-block" id="change-admin" type="button" value="Change Admin">
                </form>
            </div>
        </div>
    </div>
    
    {{ request.user.id|json_script:"user_id" }}
    {{ room_id|json_script:"room-name" }}
    <script>
        var audio = document.getElementById('myAudio');
        user_id = JSON.parse(document.getElementById('user_id').textContent);
        if(user_id == null)
        {
            user_id = 0;
        }
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user_id': parseInt(user_id),
                'audio_time': parseInt(audio.currentTime),
                'audio_paused': audio.paused,
                'delete_room': false,
                'change_admin': false
            }));
            messageInputDom.value = '';
        };

        document.querySelector("#delete-room").onclick = function(e){
            chatSocket.send(JSON.stringify({
                'message': "",
                'user_id': parseInt(user_id),
                'audio_time': parseFloat(audio.currentTime),
                'audio_paused': audio.paused,
                'delete_room': true,
                'change_admin': false
            }));
        }

        document.querySelector("#change-admin").onclick = function(e){
            chatSocket.send(JSON.stringify({
                'message': "",
                'user_id': parseInt(user_id),
                'audio_time': parseFloat(audio.currentTime),
                'audio_paused': audio.paused,
                'delete_room': false,
                'change_admin': true
            }));
        }

        function sync_audio(){
            chatSocket.send(JSON.stringify({
                'message': "",
                'user_id': parseInt(user_id),
                'audio_time': parseFloat(audio.currentTime),
                'audio_paused': audio.paused,
                'delete_room': false,
                'change_admin': false
            }));
        }

        setInterval(sync_audio, 500);

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        console.log('ws://' +
            window.location.host +
            '/'+
            roomName +
            '/'+
            user_id +
            "/")
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/'+
            roomName +
            '/'+
            user_id +
            "/"
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if(data.is_admin && Math.abs(audio.currentTime - data.audio_time) > 1){
                audio.currentTime = data.audio_time
            }
            if(data.is_admin && data.user_id != user_id){
                if(data.audio_paused){
                    audio.pause()
                }
                else{
                    audio.play()
                }
            }
            if(data.deleted_room){
                location.reload()
            }
            if (data.changed_admin && data.admin_username){
                document.querySelector('#chat-text').value += ('***' + '\n' + data.admin_username + ' теперь админ комнаты' + '\n'+'***'+ '\n')
            }
            if (data.message != "" && data.username != "" && data.date)
            {
                document.querySelector('#chat-text').value += (data.username + ', ' + data.date + ': ' + data.message +'\n')
            }
        }
        
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>