
*{
    margin:0;
    padding: 0;
}
body {
    background: #000;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #fff; 
    width: 100%;
    box-sizing: border-box;
    height: 100vh;

}
    
header #logo {
    padding-top: 20vh;
}

header .music_label {
    padding-top: 5vh;
}
header .music_label h1 {
    color: #FFF;
    font-family: "MTSWide-Black";
    font-size: 6vh;
    font-style: normal;
    font-weight: 900;
    line-height: 5vh;
    letter-spacing: 0.3vh;
}
header .music_label h2 {
    color:#FF0032;
    font-family: "MTSUltraExtended-Bold";
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}
header .about {
    margin-top: auto;
    padding-bottom: 10vh;
}


header .about h1 {
    color: #FFF;
    text-align: center;
    font-family: "MTSText-Regular";
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
header .about svg {
    padding-top: 1vh;
}



header .equalizer {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    float: left;
    width: 90%;
    /* margin-left: auto; */
    
    margin-bottom: 0.4vh;

}
header .equalizer .line {
    background-color: #fff;
    border-radius: 1vh 1vh 0px 0px;
    width: 1.3vh;
    margin-right: 2vh;
}















/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    height: 93vh;
    
}

main .equalizer {
    justify-content: center;
    display: flex;
    align-items: flex-start;
    float: left;
    width: 90%;
    margin-top: 0.4vh;

}
main .equalizer .line {
    background-color: #FF0032;
    border-radius: 0px 0px 1vh 1vh;
    width: 1.3vh;
    margin-right: 2vh;
}

main .service_info {
    padding-top: 20vh;
}

main .service_info h1 {
    color: #FF0032;
    text-align: center;
    font-family: "MTSWide-Bold";
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 700;
}

main .service_info h2 {
    color: #000;
    font-family: "MTSText-Regular";
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 400;
}


main .service_info + .line {
    margin-top: 2vh;
    width: 12.4vh;
    height: 0.3vh;
    background-color: #FF0032;;
}


main .service_info + .line + a {
    margin-top: 4vh;
    display: flex;
    width: 150px;
    height: 54px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #000;   
    border: 0px;
    text-decoration: none;

    color: #FFF;
    text-align: center;
    font-family: "MTSWide-Bold";
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
}

main .service_info + .line + a + svg {
    margin-top: auto;
    padding-bottom: 10.6vh;
}









/* FOOOTER */
footer {
    display: flex;
    background-color: #000;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 7vh;
    color: #fff;
}

footer h1 {
    color: #FFF;    
    font-family: "MTSWide-Bold";
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
}

footer h2 {
    padding-left: 0.8vh;
    color: #FFF;
    font-family: "MTSWide-Regular";
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;   
}