@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;700;800&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 1700px;
    /* overflow: hidden; */
    background-color: black;
    overflow-y: auto;
}

.black-top {
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    /* display: grid; */
}
.white-middle {
    width: 100%;
    height: 45%;
    background: white;
    background-color: white;
}
.label {
    margin-left: auto;
    margin-right: 15%;
}
.label .music {
    color: #FFF;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 201px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: -20.1px;
}
.label .description {
    color: var(--RED, #FF0032);
    font-family: 'Lexend Exa', sans-serif;
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.row {
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    padding-left: 10%;
    transform: translateY(-55%);
}
.text-label {
    color: #FFF;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 24px; /* Adjust the font size as needed */
    /* margin-right:; Adjust the margin as needed */
}
footer svg {
    width: 3%;
    height: 3%;
    padding-left: 10%;
    margin-top: 2%;
    /* margin-bottom: 2%; */
    /* width: 1000px; */
}