
*{
    margin:0;
    padding: 0;
}

body {
    background-color: #000;
    width: auto; 
    height:20vh;
}

.header {
    color: #fff;
    height:20vh;
    display: flex;
    align-items: center;
}

.Logo {
    width: 8vh;
    height: 8vh;
    margin-left: 25vh;
    /* display: inline-block; */
}

.profile_label {
    position: relative;
    display: inline-block;
    margin-left:8.9vh;
    margin-bottom: 1.5vh;

    color: #FFF;
    font-family: 'MTSExtended-Medium';
    font-size: 6vh;
    font-weight: 500;
    letter-spacing: 0.3vh;
    }
.Lines {
    margin-left: auto;
    padding-right: 8vh;
    margin-bottom: 1.5vh;
}

.line {
    margin-top: 0.6vh;
    width: 4vh;
    height: 0.6vh;
    background-color: #FFF;
    border-radius: 0.5vh;
}
.main {
    height: 73vh;
    width: auto;
    background-color: #FFF;
    display: flex;
    align-items: center;
}

.friends {
    position: relative;
    margin-left: 38vh;
    width: 60vh;
    height: 65vh;
    border-radius: 3.5vh;
    background: #FFF;
    box-shadow: 0.31vh  0.31vh 0.78vh 0.78vh rgba(0, 0, 0, 0.25);
    z-index: 2;
    transition: transform 0.3s ease;
}
.friends:hover {
    transform: scale(1.1); /* изменяем масштаб при наведении мыши */
  }
form .header {
    color: #000000;
    height: 3vh;
    justify-content: center; /* Center items horizontally */
    align-items:flex-start;
    
    padding-top: 2.26vh;
}
form .header h1 {
    color: #000;
    font-family: "MTSWide-Medium";
    font-size: 2.4vh;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.144vh;


}

form .header h2 {
    color: var(--GREY, #D4D4D4);
    font-family: "MTSWide-Medium";
    font-size: 2.4vh;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.11vh;
    
    padding-left: 2.1vh;
}
.friends .body{
    margin-top: 4.6vh;
    height: 27.1vh;
}

.user-row {
    display: flex;
    align-items: center; /* Center items vertically */
    padding-left: 5vh;
}
.user-row #icon_logo{
    width: 6.5vh;
    height: 6.5vh;
    padding-top: 1vh;
}
.user-row #delete_btn{
    width: 2.4vh;
    height: 2.4vh;
    padding-left: 1.8vh;
}
.user-row h1 {

    padding-left: 1vh;
    color: #000;
    font-family: "MTSText-Regular";
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.11vh;
}
.user-info div {
    height: 4vh;
}
.user-info h1 {
    color: #000;
    font-family: "MTSWide-Medium";
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 6vh;
    letter-spacing: 0.096vh;

}
.user-info h2 {
    color: #000;
    font-family: "MTSText-Regular";
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.096vh;
    /* padding-top: 5vh; */

}
.user-info h3 {
    color: #000;
    font-family: "MTSText-Regular";
    font-size: 1.2vh;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.096vh;

}
.user-info {
    padding-left: 3vh;
}
form .footer {
    display:flex;
    align-items: flex-end;
    /* align-items: center; */
    /* padding-top: 5.8vh; */
    /* padding-left: 9.1vh; */
}

form .footer svg {
    width: 61vh;
    height: 22.4vh;
}
form .footer h1{
    padding-left: 1.8vh;
    color: #000;
    font-family: "MTSText-Regular";
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.1vh;
}


.music_label {
    padding-left: 15.2vh;
    padding-top: 20vh;
}
.music_label h1 {
    color: #000;
    font-family: "MTSWide-Black";
    font-size: 9vh;
    font-weight: 900;
    line-height: 7vh;
    letter-spacing: 0.45vh;
}
.music_label h2 {
    color: var(--RED, #FF0032);
    font-family: "MTSUltraExtended-Bold";
    font-size: 2.8vh;
    /* line-height: 2vh; */
    font-weight: 700;
    letter-spacing: 0.168vh;
}

#svg_line {
    width: 113.5vh;
    height: 24.4vh;
    z-index: 1;
    position: absolute;
    padding-top: 41.5vh;
    padding-left: 87.3vh;

}

#svg_eq {
    width: 30.4vh;
    height: 38.2vh;
    position: absolute;
    padding-left: 3.2vh;
}
.logo-div h2{
    color: #747474;
    text-align: center;
    font-family: "MTSText-Regular";
    font-size: 1.2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.072vh;

}

.logo-div h1{
    color: #000;
    text-align: center;
    font-family: "MTSWide-Medium";
    font-size: 2.4vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.144vh;
}
.navigation-bar {
    display: none;
    border-radius: 4vh 0px 4vh 4vh;
    background: #FFF;
    box-shadow: 0.31vh  0.31vh 0.78vh 0.78vh rgba(0, 0, 0, 0.25);
    width: 25.6vh;
    height: 50vh;
    position: absolute;
    right: 8vh; /* Прикрепляем к правому краю страницы */
    top: 15vh;
    z-index: 2;
    animation: fadeIn 0.5s ease-in-out;
    flex-direction: column; /* Устанавливаем направление столбца */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navigation-bar .user {
    padding-top: 4vh;
    padding-left: 1.5vh;
    
}
.user svg {
    width: 10.1vh;
    height: 10vh;
    padding-left: 7vh;
}
.navigation-bar h1 {
    color: #000;
    text-align: center;
    font-family: "MTSWide-Medium";
    font-size: 2.4vh;
    font-weight: 500;
    
    /* width: 10px; */
}
.navigation-bar .items {
    padding-top: 3vh;
    padding-left: 1.5vh;
}
.navigation-bar h2 {
    color: #000;
    text-align: center;
    font-family: "MTSWide-Regular";
    font-size: 2vh;
    font-style: normal;
    font-weight: 300;
    line-height: 4vh;
    letter-spacing: 0.2vh;
    transition: transform 0.3s ease;
}
.navigation-bar h2:hover {
transform: scale(1.2); /* изменяем масштаб при наведении мыши */
}
.navigation-bar .footer {
    padding-left: 1.5vh;
    margin-top: auto;
    padding-bottom: 1vh;
}

a {
    text-decoration: none;
}