*{
    margin:0;
    padding: 0;
}

body {
    background: #000;
}
  
/* HEADER */ 
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 15vh;
}
header #logo {
    margin-right: 2.4vh;
}
header .music_label h1 {
    color: #FFF;
    font-family: "MTSWide-Black";
    font-size: 6vh;
    font-style: normal;
    font-weight: 900;
    line-height: 5vh;
    letter-spacing: 0.3vh;
}
header .music_label h2 {
    color:#FF0032;
    font-family: "MTSUltraExtended-Bold";
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

/* MAIN */


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    height: 85vh;
    
}
main form {
    margin-top: 10vh;
}
main form .header_label {
    justify-content: center;
    display: flex;
}
main form .header_label h1 {
    color: #000;
    font-family: "MTSWide-Medium";
    font-size: 2vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
main form .header_label h2 {
    padding-left: 3.6vh;
    color:#D4D4D4;
    font-family: "MTSWide-Medium";
    font-size: 2vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main form .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;

    
}

main form input {
    margin-top: 3.1vh;
    border-radius: 1vh;
    border: 0.25vh solid #D4D4D4;

    background: #FFF;

    display: flex;
    width: 25vh;
    height: 5vh;
    padding: 0vh 2.4vh;
    align-items: center;
    gap: 1vh;
    flex-shrink: 0;
    font-size: 1.4vh;
    font-family: "MTSText-Regular";
}
main form input:hover{
    border-radius: 1vh;
    border: 0.2vh solid #BFBFBF;
    background: #FFF;
    box-shadow: 0px 0.2vh 0.6vh 0px rgba(0, 0, 0, 0.25);
}
main form input:active{
    border-radius: 1vh;
    border: 0.2vh solid #000000;
    background: #FFF;
}
main form input:invalid {
    border-radius: 1vh;
    border: 0.2vh solid #FF0032;
    background: #FFF;
}
main form input::placeholder{
    color:#c7c7c7
}

main form button {
    margin-top: 3.1vh;
    display: flex;
    width: 100%;
    height: 5vh;
    
    justify-content: center;
    align-items: center;

    border-radius: 1vh;
    border: 0px;
    background: #FF0032;


    color: #FFF;
    text-align: center;
    font-family: "MTSText-Medium";
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main form .footer {
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
}

main form .footer h1{
    color: #000;
    text-align: center;
    font-family: "MTSWide-Regular";
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main form .footer h2{
    padding-left: 0.5vh;
    color: #000;
    font-family: "MTSWide-Regular";
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

main .equalizer {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    float: left;
    width: 95%;
}
main .equalizer .line {
    background-color: #FF0032;
    border-radius: 1vh 1vh 0px 0px;
    width: 1.3vh;
    margin-right: 2vh;
    height: 10px;
    transition: height 1s ease;
}

/* FOOOTER */
footer {
    display: flex;
    background-color: #000;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 7vh;
    color: #fff;
}

footer h1 {
    color: #FFF;    
    font-family: "MTSWide-Bold";
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
}

footer h2 {
    padding-left: 0.8vh;
    color: #FFF;
    font-family: "MTSWide-Regular";
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;   
}